:root {
  font-family: helvetica, 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px
}

textarea {
  font-size: 1em;
  font-family: helvetica, 'Open Sans', sans-serif;
  font-weight: 400;
  padding: 10px;
  border: 1px solid #888;
}

body {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5em;
}

div {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secrets-app {
  width: 100%;
  max-width: calc(100% - 20px);
}

.secrets-app__header {
  margin: 10px 0;
}

.secrets-app__instructions {
  margin: 10px 0;
}

.button {
  background: transparent;
  border: 1px solid #000;
  color: #000;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 1px;
  box-sizing: border-box;
  outline: none;
}

.disabled-button {
  color: #d7d7d7;
  border: 1px solid #999;
}

.button:hover {
  background: #000;
  color: #FFF;
}

.disabled-button:hover {
  background: transparent;
  color: #d7d7d7;
}

.secret-checker__input {
  background: transparent;
  border: 1px solid #888;
  color: #000;
  width: 100%;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  margin: 0 0 10px 0;
}
.secret-checker__prompt {
  margin: 10px 0;
  background: #000;
  color: #FFF;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.secret-submitter {
  margin: 10px 0;
}

.secret-submitter__textarea {
  width: 100%;
  height: 150px;
  margin: 10px 0;
  resize: none;
  outline: none;
  box-sizing: border-box;
}

.download-button {
  background: transparent;
  border: 1px solid #000;
  color: #000;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  width: 400px;
  padding: 1px;
  box-sizing: border-box;
}

.download-button:hover {
  background: #000;
  color: #FFF;
}

.download-button:hover a {
  color: #FFF;
}
.download-link {
  text-decoration: none;
  color: #000;
}

@media (min-width: 321px) {
  font-size: 16px;
}

@media (min-width: 730px) {
  .container {
    max-width: 720px;
  }
  .button {
    width: 120px;
  }
  .secret-checker__input {
    border-right: none;
    width: 300px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1080px;
  }
}
