:root {
  font-size: 16px;
  font-family: helvetica, 'Open Sans', sans-serif;
  font-weight: 400;
}

textarea {
  font-size: 16px;
  font-family: helvetica, 'Open Sans', sans-serif;
  font-weight: 400;
  padding: 10px;
}

body {
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  max-width: 730px;
  width: 100vw;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secrets-app {
  width: 100%;
  max-width: calc(100% - 20px);
}

.secrets-app__header {
  margin: 10px 0;
}

.secrets-app__instructions {
  margin: 10px 0;
}

.button {
  background: transparent;
  border: 1px solid #000;
  color: #000;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  width: 120px;
  padding: 1px;
  box-sizing: border-box;
}

.button:hover {
  background: #000;
  color: #FFF;
}

.secret-checker__input {
  background: transparent;
  border: 1px solid #888;
  border-right: none;
  color: #000;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  width: 300px;
  outline: none;
  box-sizing: border-box;
}
.secret-checker__prompt {
  margin: 10px 0;
  background: #000;
  color: #FFF;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.secret-submitter {
  margin: 10px 0;
}

.secret-submitter__textarea {
  width: 100%;
  height: 150px;
  margin: 10px 0;
  resize: none;
  outline: none;
  box-sizing: border-box;
}

.download-button {
  background: transparent;
  border: 1px solid #000;
  color: #000;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  width: 400px;
  padding: 1px;
  box-sizing: border-box;
}

.download-button:hover {
  background: #000;
  color: #FFF;
}

.download-button:hover a {
  color: #FFF;
}
.download-link {
  text-decoration: none;
  color: #000;
}

.download-link k
